.logout-btn {
  border: 0px;
  padding: 0px;
  margin: 0px;
  background-color: transparent;

  cursor: pointer;
  outline: none;

  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-btn-para {
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 0px;
  font-size: medium;
  font-weight: bold;

  border-radius: 3px;
}

.logout-btn-logo {
  font-size: 25px;
}

.options-btn {
  background-color: transparent;
  border: 0px;
  font-size: 40px;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.popup-options {
  width: 100%;
}

.options-close-btn-box {
  display: flex;
  justify-content: flex-end;
}

.options-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
  width: 100%;
}

.menu-items-box {
  margin-bottom: 40vh;
}

.options-close-btn {
  background-color: transparent;
  border: 0px;
  font-size: 35px;
  align-self: flex-end;

  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .logout-btn-para {
    display: block;
  }
  .logout-btn-logo {
    display: none;
  }
  .logout-btn {
    margin-left: 20px;
  }
  .options-btn {
    display: none;
  }
  .pop-lg {
    display: block;
  }
  .pop-sm {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .logout-btn-para {
    display: none;
  }
  .logout-btn-logo {
    display: block;
  }
  .logout-btn {
    margin-left: 10px;
  }
  .options-btn {
    display: block;
  }
  .pop-lg {
    display: none;
  }
  .pop-sm {
    display: block;
  }
}

.popup-logout-content {
  padding: 30px;
  padding-top: 5px;
  padding-bottom: 20px;

  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  border-radius: 10px;
}

@media screen and (max-width: 376px) {
  .popup-logout-content {
    width: 100%;
  }
}

.popup-logout-arrow {
  color: rgb(255, 255, 255);
  width: 100%;
}
[role='tooltip'].popup-content {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-logout-overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
  width: 100%;
}

.popup-para {
  padding: 0px;
  font-size: medium;
  font-weight: 500;
}

.popup-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-cancel {
  background-color: transparent;
  padding: 10px;
  border: 1px solid;
  margin-right: 20px;

  border-radius: 3px;
  cursor: pointer;
  outline: none;

  font-family: 'Roboto';
}

.popup-confirm {
  border: 0px;
  padding: 10px;
  background-color: #3b82f6;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  border-radius: 3px;

  cursor: pointer;
  outline: none;
}
